
.product-box {
    display: flex;
    width: 350px;
    height: 470px;
    border-color: #ac6969;
    border: 2px solid rgb(107, 84, 84);
    border-radius: 12px;
    padding: 5px;
    margin-left: 40%;
    margin: 0 auto;
  }
  
  .product-box table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .product-box th, .product-box td {
    padding: 4px 8px; /* Adjusted padding values */
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .product-box th {
    background-color: #f2f2f2;
  }

  .background-image {
    background-image: url('../homepage/MicrosoftTeams-image.png');
    background-size: cover;
  }
  
  .center-button {
    display: block;
    margin: 0 auto;

}

.alin{
  display: flex;
  
}
.text{width: 500px;
font-size: x-large;
font-family: cursive;
margin-left: 180px;
}

  