<div class="background-image">
    <br>
<header>
    <h1 class="center-button" style="text-align: left; margin-left: 140px; color: rgb(7, 5, 161); background-color: rgb(202, 203, 189); width: 630px;">STUDENT REGISTRATION PORTAL</h1>
</header>
<br><br>
<div class="alin" style="text-align: center;">
   
    <div class="text">
        A student registration portal is an online platform designed to facilitate the registration process for students. It is commonly used by educational institutions such as schools, colleges, and universities to streamline the enrollment of students into various academic programs or courses.
    <br><br><br><br>
    <button class="center-button" style="color: rgb(141, 181, 163); width: 200px; height: 70px; background-color: rgb(245, 242, 247); border-radius: 40px;" (click)="navigateToLogin()"><b>LOGIN HERE</b></button>
</div>
</div>
    <td><img style="width: 1px; height: 56px;" [src]="adminPhotoUrl" alt="Admin Photo"></td>
</div>

  